<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <input type="text" [(ngModel)]="nombreTarea" (keyup.enter)="agregarTarea()" class="form-control form-control-lg" placeholder="ingrese tarea..">
        </div>
        <div class="col-lg-6 offset-lg-3 mt-3">
            <div class="card pt-2" *ngIf="listTareas.length === 0">
                <h6>No hay tareas para mostrar</h6>
            </div>
            <ul class="list-group">
                <li *ngFor="let tarea of listTareas; let index = index" class="list-group-item">
                    
                    <div class="d-flex justify-content-between">
                        <span class="cursor" (click)="actualizarTarea(tarea,index)">
                            <i [ngClass]="tarea.estado ? 'fa-solid fa-circle-check':'fa-regular fa-circle'"></i>
                        </span>
                        {{tarea.nombre}}
                        <span class="cursor text-danger" (click)="eliminarTarea(index)">
                            <i class="fa-solid fa-trash"></i>
                        </span>
                    </div>
                        
                </li>
                
            </ul>
            
        </div>
    </div>
</div>
